<div class="w-full h-full p-10 flex flex-col bg-black/5 gap-8">
    <div class="w-full bg-white p-2 px-6 flex justify-between items-center">
        <div class="flex flex-row gap-x-4 items-baseline">
            <div>
                <img src="assets/images/profile.png" class="w-10 h-10" />
            </div>
            <div>
                <img src="assets/images/patient.svg" class="w-6 h-6" />
            </div>
            <div>
                {{'sammie' | uppercase}}
            </div>
        </div>

        <div>
            <img src="assets/images/logo.png" class="w-30 h-10" />
        </div>

        <div class="flex flex-row gap-x-2 cursor-pointer " routerLink="/main">
            <mat-icon>backspace</mat-icon><span>Back</span>
        </div>
    </div>

    <div class="w-full">
        <div class="h-12 w-full flex items-center justify-center text-2xl text-white bg-[#008592]">
            Account Management
        </div>
        <div class="min-h-[65vh] w-full grid grid-cols-2 gap-8 p-16 bg-[#3EB489]">
            <div routerLink="add"
                class="w-full min-h-[15vh] cursor-pointer rounded-xl bg-white text-2xl text-[#3EB489] flex items-center justify-center">
                Add New User
            </div>

            <div routerLink="delete"
                class="w-full min-h-[15vh] cursor-pointer rounded-xl bg-white text-2xl text-[#3EB489] flex items-center justify-center">
                Delete Existing User
            </div>

            <div routerLink="edit"
                class="w-full min-h-[15vh] cursor-pointer rounded-xl bg-white text-2xl text-[#3EB489] flex items-center justify-center">
                Edit/Modify User
            </div>

            <div routerLink="assign-role"
                class="w-full min-h-[15vh] cursor-pointer rounded-xl bg-white text-2xl text-[#3EB489] flex items-center justify-center">
                Assign Roles
            </div>

            <div routerLink="user-list"
                class="w-full min-h-[15vh] cursor-pointer rounded-xl bg-white text-2xl text-[#3EB489] flex items-center justify-center">
                User List
            </div>
        </div>
    </div>

</div>