<div class="w-full h-full p-10 flex flex-col bg-black/5 gap-8">
    <div class="w-full bg-white p-2 px-6 flex justify-between items-center">
        <div class="flex flex-row gap-x-4 items-baseline">
            <div>
                <img src="assets/images/profile.png" class="w-10 h-10" />
            </div>
            <div>
                <img src="assets/images/patient.svg" class="w-6 h-6" />
            </div>
            <div>
                {{'sammie' | uppercase}}
            </div>
        </div>

        <div>
            <img src="assets/images/logo.png" class="w-30 h-10" />
        </div>

        <div class="flex flex-row gap-x-2 cursor-pointer">
            <mat-icon>backspace</mat-icon><span>Back</span>
        </div>
    </div>

    <div class="w-full">
        <div class="h-12 w-full flex items-center justify-between text-2xl text-white bg-[#008592] py-2">
            <div class="flex justify-end w-full">
                <span>Report Management</span>
            </div>
            <div class="w-full flex justify-center">
                <button class="px-4 py-2 flex flex-row gap-x-4  bg-[#867AAB] w-auto text-lg text-white ml-16"
                    (click)="composeMessage = !composeMessage">
                    <span>Compose Message</span>
                    <span>
                        <svg width="19" height="20" viewBox="0 0 19 20" fill="white" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.998535 15.4613V18.5013C0.998535 18.7813 1.21854 19.0013 1.49854 19.0013H4.53854C4.66854 19.0013 4.79854 18.9513 4.88854 18.8513L15.8085 7.94128L12.0585 4.19128L1.14854 15.1013C1.04854 15.2013 0.998535 15.3213 0.998535 15.4613ZM18.7085 5.04128C19.0985 4.65128 19.0985 4.02128 18.7085 3.63128L16.3685 1.29128C15.9785 0.901279 15.3485 0.901279 14.9585 1.29128L13.1285 3.12128L16.8785 6.87128L18.7085 5.04128Z"
                                fill="white" />
                        </svg>
                    </span>
                </button>
            </div>

        </div>

        <div class="  w-full flex items-center justify-center ">
            <div class="bg-transparent h-full w-full px-16 ">
                <div *ngIf="!composeMessage && !PreviewMessage" class="bg-white py-4 px-8">
                    <div class="w-full p-2 border border-black/20 rounded flex flex-row gap-x-2">
                        <div class="w-full">
                            <input type="text" class="w-full"
                                placeholder="Search by name, role , ID or any related keyword " />
                        </div>
                        <div>
                            <button>Filter</button>
                        </div>
                    </div>

                    <div class="w-full mt-4 max-h-[55vh] !overflow-auto">
                        <table class="w-full border border-black/20 rounded">
                            <thead class="border-b border-black/20 bg-gray-100">
                                <tr>
                                    <th class="p-2 text-start"><input type="checkbox" /> </th>
                                    <th class="p-2 text-start">Name</th>
                                    <th class="p-2 text-start">Date</th>
                                    <th class="p-2 text-start">Subject</th>
                                    <th class="p-2 text-start">Status</th>
                                    <th class="p-2 text-start">Action Taken</th>
                                    <th class="p-2 text-start">Ward</th>
                                    <th class="p-2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }"
                                    class="border-b-2 border-gray-200 ">
                                    <td class="p-2 text-start">
                                        <input type="checkbox" />
                                    </td>
                                    <td class="p-2 text-start">
                                        <span class="flex flex-row items-center justify-start gap-x-2">
                                            <span><img src="assets/images/profile.png" class="w-8 h-8" /> </span>
                                            <span class="flex flex-col gap-1">
                                                <span>Birendra</span>
                                                <span class="text-xs text-gray-500">Birendra1@gmail.com</span>
                                            </span>
                                        </span>
                                    </td>
                                    <td class="p-2 text-start">
                                        <span class="p-1 rounded-full bg-gray-200">
                                            7/18/2023
                                        </span>
                                    </td>
                                    <td class="p-2 text-start">
                                        <span class="flex flex-col gap-1">
                                            <span>Important Matter</span>
                                        </span>
                                    </td>

                                    <td class="p-2 text-start">
                                        <span
                                            class="p-1 rounded-full bg-green-200 flex flex-row gap-2 items-center w-[80px] px-2">
                                            <span class="w-2 h-2 rounded-full bg-green-500"></span>
                                            <span class=" text-green-700">Read</span>
                                        </span>
                                    </td>

                                    <td class="p-2 text-start">
                                        <span class="p-1 rounded-full bg-gray-200">
                                            Pending
                                        </span>
                                    </td>

                                    <td class="p-2 text-start">
                                        <span
                                            class="p-1 rounded-full bg-red-200 flex flex-row gap-2 items-center w-[70px] px-2">
                                            <span class=" text-red-700">Ward A</span>
                                        </span>
                                    </td>

                                    <td class="p-2 ">
                                        <span class="flex justify-center">
                                            <img src="assets/images/3dot.svg" />
                                        </span>

                                    </td>

                                </tr>

                            </tbody>
                            <tfoot>
                                <td colspan="8">
                                    <tr>
                                        <div class="flex items-end-end w-full pt-4">
                                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                        </div>
                                    </tr>
                                </td>

                            </tfoot>
                        </table>

                    </div>


                </div>

                <div *ngIf="composeMessage && !PreviewMessage" class=" min-h-[60vh] w-full flex items-center justify-center">
                    <div class="bg-white min-h-[50vh] w-[40vw] ">
                        <div *ngIf="!dataSubmitted ">
                            <div class="p-8 flex flex-col gap-y-2 w-full">
                                <div
                                    class="text-lg p-4 bg-[#867AAB] text-white flex flex-row justify-between w-full">
                                    <span> New Message </span>
                                    <span> Actions </span>
                                </div>
                                <div class="flex flex-col gap-y-2 w-full">
                                    <div class="w-full flex justify-between">
                                        <span>
                                            User
                                        </span>
                                        <span>
                                            CC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BCC
                                        </span>
                                    </div>
                                    <div class="w-full"><input
                                            class="bg-transparent border-b border-black w-full h-[30px]"
                                            placeholder="User" /> </div>
                                </div>
                                <div class="flex flex-col gap-y-2 w-full">
                                    <div>Subject</div>
                                    <div class="w-full"><input
                                            class="bg-transparent border-b border-black w-full h-[30px]"
                                            placeholder="Subject" /> </div>
                                </div>
                                <div class="flex flex-col gap-y-2 w-full">
                                    <div>Message</div>
                                    <div class="w-full"><input
                                            class="bg-transparent  w-full h-[30px]"
                                            placeholder="Message" /> </div>
                                </div>
                            </div>

                            <div class="p-8 flex flex-row justify-between">
                                <div>
                                    <button class="px-4 py-2 flex flex-row gap-x-4  bg-[#008592] w-auto text-white">
                                        <span>Send</span>
                                        <span>
                                            <svg width="28" height="20" viewBox="0 0 28 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.775391 10H24.4489" stroke="white" stroke-width="3" />
                                                <path d="M16.459 1.41833L25.0406 9.99997L16.459 18.5816" stroke="white"
                                                    stroke-width="3" />
                                            </svg>
    
                                        </span>
                                    </button>
                                </div>
                                <div>
                                    Actions
                                </div>
                          

                            </div>
                        </div>

                        <div *ngIf="dataSubmitted" class="flex justify-center items-center w-full h-full">
                            <div class="flex flex-row gap-x-6 p-2 bg-[#95EEC4]/60 items-center">
                                <span><img src="assets/images/info.svg"></span>
                                <span>Sent Succesfully</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div *ngIf="PreviewMessage && !composeMessage" class=" min-h-[60vh] w-full flex items-center justify-center">
                    <div class="bg-white min-h-[50vh] w-[40vw] rounded-lg">
                        <div *ngIf="!dataSubmitted " class="p-8">
                            <div class=" flex flex-row justify-end gap-2 w-full border-b border-b-gray-200 py-2">
                                <span>
                                    <img src="assets/images/mail1.png" class="h-6" />
                                </span>
                                <span>
                                    <img src="assets/images/mail2.png" class="h-6" />
                                </span>
                            </div>
                            <div class="text-lg pt-4">
                                Board Meeting Minutes
                            </div>
                            <div class="pt-4">
                                <span class="flex flex-row items-center justify-start gap-x-2">
                                    <span><img src="assets/images/profile.png" class="w-8 h-8" /> </span>
                                    <span class="flex flex-col">
                                        <span class="flex flex-row items-center gap-1">
                                            <span>Birendra</span>
                                            <span class="text-xs text-gray-500">< Birendra1@gmail.com ></span>
                                        </span>
                                        <span class="text-xs text-gray-500">to me , pat</span>
                                    </span>
                               
                                </span>
                            </div>
                            <div class="pt-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis obcaecati ipsum optio hic ut reiciendis provident dolorum, blanditiis cum nemo, ad dolores alias qui placeat! Soluta perspiciatis voluptates error doloribus.
                            </div>
                            <div class="pt-4 flex flex-row justify-center gap-x-4">
                                    <button class="border border-gray-200 text-blue rounded text-blue-600 px-4 py-2">Reply</button>
                                    <button class="border border-gray-200 text-blue rounded text-blue-600 px-4 py-2">Reply All</button>
                                    <button class="border border-gray-200 text-blue rounded text-blue-600 px-4 py-2">Forward</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>