<div class="w-full h-full flex flex-row justify-between">
    <div class="w-full pl-6 m-5">
        <img src="assets/images/logo.png" class="w-[220px] h-[100px] " />
    </div>
    <div class="w-full">
        <div class="flex flex-col w-full h-full">
            <div class="w-full h-full flex flex-col items-center justify-center pt-6 gap-y-10">
                <div class="text-xl text-white text-center w-full">
                    Hospital Management System
                </div>
                <div class="w-full h-full flex items-center justify-center">
                    <img src="assets/images/bannerHk.png" class="w-[300px] h-[300px]" />
                </div>
            </div>
            <div class="w-full h-full flex flex-col items-center justify-center gap-y-4">
                    <button class="px-4 py-2 rounded-full w-[200px] text-white bg-[#008592] " routerLink="sign-up" >Sign Up</button>
                    <button class="px-4 py-2 rounded-full w-[200px] text-white bg-[#867AAB]" routerLink="sign-in">Sign In</button>
            </div>
        </div>
    </div>
</div>