<div class="w-full h-full p-10 flex flex-col bg-black/5 gap-8">
    <div class="w-full bg-white p-2 px-6 flex justify-between items-center">
        <div class="flex flex-row gap-x-4 items-baseline">
            <div>
                <img src="assets/images/profile.png" class="w-10 h-10" />
            </div>
            <div>
                <img src="assets/images/patient.svg" class="w-6 h-6" />
            </div>
            <div>
                {{'sammie' | uppercase}}
            </div>
        </div>

        <div>
            <img src="assets/images/logo.png" class="w-30 h-10" />
        </div>

        <div class="flex flex-row gap-x-2 cursor-pointer" routerLink="/main/treatment-management">
            <mat-icon>backspace</mat-icon><span>Back</span>
        </div>
    </div>

    <div class="w-full">
        <div class="h-12 w-full flex items-center justify-center text-2xl text-white bg-[#008592]">
            Patient Profile
        </div>

        <div class="  w-full flex items-center justify-center ">
            <div class="bg-[#3EB489] h-full w-full px-16 py-4">
                <div class="w-full flex flex-row justify-between">
                    <div class="flex flex-row gap-x-2">
                        <button class="px-4 py-2 flex flex-row gap-x-4  bg-[#867AAB] w-auto text-white ml-16" routerLink="/main/treatment-management/new-patient">
                            <span>Create New Profile</span>

                        </button>
                    </div>

                    <div class="flex flex-row gap-x-2">
                        <button class="px-4 py-2 flex flex-row gap-x-4  bg-[#867AAB] w-auto text-white ml-16" routerLink="/main/treatment-management/admit-patient">
                            <span>Admit Patient</span>

                        </button>
                    </div>

                    <div class="flex flex-row gap-x-2">
                        <button class="px-4 py-2 flex flex-row gap-x-4  bg-[#867AAB] w-auto text-white ml-16" routerLink="/main/treatment-management/transfer-patient">
                            <span>Transfer Patient</span>

                        </button>
                    </div>

                    <div class="flex flex-row gap-x-2">
                        <button class="px-4 py-2 flex flex-row gap-x-4  bg-[#867AAB] w-auto text-white ml-16" routerLink="/main/treatment-management/discharge-patient">
                            <span>Discharge Patient</span>

                        </button>
                    </div>

                </div>
                <div class="bg-white py-4 px-8">
                    <div class="w-full p-2 border border-black/20 rounded flex flex-row gap-x-2">
                        <div class="w-full">
                            <input type="text" class="w-full px-4 py-1" (keyup)="sortData($event)"
                                placeholder="Search by email" />
                        </div>
                        <div>
                            <button>Filter</button>
                        </div>
                    </div>

                    <div class="w-full mt-4 max-h-[50vh] !overflow-auto">
                        <table class="w-full border border-black/20 rounded">
                            <thead class="border-b border-black/20 bg-gray-100">
                                <tr>
                                    <th class="p-2 text-start"><input type="checkbox" /> </th>
                                    <th class="p-2 text-start">Name</th>
                                    <th class="p-2 text-start">Date Admitted</th>
                                    <th class="p-2 text-start">Bed No.</th>
                                    <th class="p-2 text-start">Patient Status</th>
                                    <th class="p-2 text-start">Ward</th>
                                    <th class="p-2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of filterPatients | paginate: { itemsPerPage: 10, currentPage: p }"
                                    class="border-b-2 border-gray-200 ">
                                    <td class="p-2 text-start">
                                        <input type="checkbox" />
                                    </td>
                                    <td class="p-2 text-start">
                                        <span class="flex flex-row items-center justify-start gap-x-2">
                                            <span><img src="assets/images/profile.png" class="w-8 h-8" /> </span>
                                            <span class="flex flex-col gap-1">
                                                <span>{{item?.firstname}} {{item?.lastname}}</span>
                                                <span class="text-xs text-gray-500">{{item?.email}}</span>
                                            </span>
                                        </span>
                                    </td>
                                    <td class="p-2 text-start">
                                        <span class="p-1 rounded-full bg-gray-200 px-2 py-1">
                                            {{item?.admission_date}}
                                        </span>
                                    </td>
                                 
                                    <td class="p-2 text-start">
                                        <span class="p-1 rounded-full bg-gray-200 px-2 py-1">
                                            {{item?.bed_number}}
                                        </span>
                                    </td>

                                    <td class="p-2 text-start">
                                        <span class="p-1 rounded-full bg-gray-200 px-2 py-1">
                                            {{item?.patient_status | titlecase}}
                                        </span>
                                    </td>

                                    <td class="p-2 text-start">
                                        <span class="p-1 rounded-full bg-gray-200 px-2 py-1">
                                           Ward {{item?.ward | titlecase}}
                                        </span>
                                    </td>

                                    <td class="p-2 ">
                                        <span class="flex justify-center">
                                            <img src="assets/images/3dot.svg" />
                                        </span>

                                    </td>

                                </tr>

                            </tbody>
                            <tfoot>
                                <td colspan="8">
                                    <tr>
                                        <div class="flex items-end-end w-full pt-4">
                                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                        </div>
                                    </tr>
                                </td>

                            </tfoot>
                        </table>

                    </div>
                </div>


            </div>

        </div>

    </div>

</div>