<div class="w-full h-full p-10 flex flex-col bg-black/5 gap-8">
    <div class="w-full bg-white p-2 px-6 flex justify-between items-center">
        <div class="flex flex-row gap-x-4 items-baseline">
            <div>
                <img src="assets/images/profile.png" class="w-10 h-10" />
            </div>
            <div>
                <img src="assets/images/patient.svg" class="w-6 h-6" />
            </div>
            <div>
                {{'sammie' | uppercase}}
            </div>
        </div>

        <div>
            <img src="assets/images/logo.png" class="w-30 h-10" />
        </div>

        <div class="flex flex-row gap-x-2 cursor-pointer" routerLink="/main/treatment-management/patient-profile">
            <mat-icon>backspace</mat-icon><span>Back</span>
        </div>
    </div>

    <div class="w-full">
        <div class="h-12 w-full flex items-center justify-center text-2xl text-white bg-[#008592]">
            Patient profile
        </div>

        <div class=" min-h-[60vh] w-full flex items-center justify-center py-4" [formGroup]="signUpForm">
            <div class="bg-white max-h-[60vh] min-w-[70vw] overflow-auto">
            

                <div *ngIf="!dataSubmitted" class="px-16 flex flex-col gap-4 py-4">

                    <button class="px-4 py-2 flex flex-row gap-x-4  bg-[#867AAB] w-fit text-white">
                        <span> Create new profile</span>
                    </button>

                    <div class="grid grid-cols-2 gap-2 gap-x-4 w-full h-full border border-dotted border-black p-4 my-4">

                        <div class="flex flex-col gap-y-2 w-full">
                            <div>Email</div>

                          

                            <div class="w-full"><input
                                    [ngClass]="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched ? 'border-b border-red-600' : 'border-b border-black/50' "
                                    class="bg-transparent border rounded-lg p-2 !h-[36px] border-black w-full"
                                    placeholder="Enter your email address" formControlName="email" />
                                <span *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched"
                                    class="text-xs text-red-600 pl-4">Email is required</span>
                            </div>
                        </div>

                        <div class="flex flex-col gap-y-2 w-full">
                            <div>First Name</div>
                            <div class="w-full"><input
                                    [ngClass]="signUpForm.get('firstname')?.invalid && signUpForm.get('firstname')?.touched ? 'border-b border-red-600' : 'border-b border-black/50' "
                                    class="bg-transparent border rounded-lg p-2 !h-[36px] border-black w-full"
                                    placeholder="Enter your firstname address" formControlName="firstname" />
                                <span
                                    *ngIf="signUpForm.get('firstname')?.invalid && signUpForm.get('firstname')?.touched"
                                    class="text-xs text-red-600 pl-4">Firstname is required</span>
                            </div>
                        </div>

                        <div class="flex flex-col gap-y-2 w-full">
                            <div>Last Name</div>
                            <div class="w-full"><input
                                    [ngClass]="signUpForm.get('lastname')?.invalid && signUpForm.get('lastname')?.touched ? 'border-b border-red-600' : 'border-b border-black/50' "
                                    class="bg-transparent border rounded-lg p-2 !h-[36px] border-black w-full"
                                    placeholder="Enter your lastname address" formControlName="lastname" />
                                <span *ngIf="signUpForm.get('lastname')?.invalid && signUpForm.get('lastname')?.touched"
                                    class="text-xs text-red-600 pl-4">Lastname is required</span>
                            </div>
                        </div>

                        <div class="flex flex-col gap-y-2 w-full">
                            <div>Admission Date</div>
                            <div class="w-full"><input
                                    [ngClass]="signUpForm.get('admission_date')?.invalid && signUpForm.get('admission_date')?.touched ? 'border-b border-red-600' : 'border-b border-black/50' "
                                    class="bg-transparent border rounded-lg p-2 !h-[36px] border-black w-full" type="date"
                                    placeholder="Enter your admission_date address" formControlName="admission_date" />
                                <span
                                    *ngIf="signUpForm.get('admission_date')?.invalid && signUpForm.get('admission_date')?.touched"
                                    class="text-xs text-red-600 pl-4">Admission Date is required</span>
                            </div>
                        </div>

                        <div class="flex flex-col gap-2">
                            <label>Ward</label>
                            <select class="w-full border border-black rounded-lg p-2" placeholder=""
                                formControlName="ward"
                                [ngClass]="signUpForm.get('ward')?.invalid && signUpForm.get('ward')?.touched ? 'border border-red-600' : 'border border-black/50' ">
                                <option value="a">Ward A</option>
                                <option value="b">Ward B</option>
                                <option value="c">Ward C</option>
                                <option value="d">Ward D</option>
                                <option value="e">Ward E</option>
                            </select>

                            <span *ngIf="signUpForm.get('ward')?.invalid && signUpForm.get('ward')?.touched"
                                class="text-xs text-red-600 pl-4">Ward is required</span>
                        </div>

                        <div class="flex flex-col gap-y-2 w-full">
                            <div>Bed Number</div>
                            <div class="w-full"><input
                                    [ngClass]="signUpForm.get('bed_number')?.invalid && signUpForm.get('bed_number')?.touched ? 'border-b border-red-600' : 'border-b border-black/50' "
                                    class="bg-transparent border rounded-lg p-2 !h-[36px] border-black w-full" type="text"
                                    placeholder=" bed_number" formControlName="bed_number" />
                                <span
                                    *ngIf="signUpForm.get('bed_number')?.invalid && signUpForm.get('bed_number')?.touched"
                                    class="text-xs text-red-600 pl-4">Bed Number is required</span>
                            </div>
                        </div>

                        <div class="flex flex-col gap-y-2 w-full">
                            <div>Contact Number</div>
                            <div class="w-full"><input
                                    [ngClass]="signUpForm.get('phone')?.invalid && signUpForm.get('phone')?.touched ? 'border-b border-red-600' : 'border-b border-black/50' "
                                    class="bg-transparent border rounded-lg p-2 !h-[36px] border-black w-full" type="text"
                                    placeholder=" phone" formControlName="phone" />
                                <span
                                    *ngIf="signUpForm.get('phone')?.invalid && signUpForm.get('phone')?.touched"
                                    class="text-xs text-red-600 pl-4">Contact number is required</span>
                            </div>
                        </div>

                        
                        <div class="flex flex-col gap-y-2 w-full">
                            <div>Admission Reason</div>
                            <div class="w-full"><input
                                    [ngClass]="signUpForm.get('reason_for_admission')?.invalid && signUpForm.get('reason_for_admission')?.touched ? 'border-b border-red-600' : 'border-b border-black/50' "
                                    class="bg-transparent border rounded-lg p-2 !h-[36px] border-black w-full" type="text"
                                    placeholder=" reason_for_admission" formControlName="reason_for_admission" />
                                <span
                                    *ngIf="signUpForm.get('reason_for_admission')?.invalid && signUpForm.get('reason_for_admission')?.touched"
                                    class="text-xs text-red-600 pl-4">Admission reason is required</span>
                            </div>
                        </div>

                        <div class="flex flex-col gap-y-2 w-full">
                            <div>Patient Address</div>
                            <div class="w-full"><input
                                    [ngClass]="signUpForm.get('patient_address')?.invalid && signUpForm.get('patient_address')?.touched ? 'border-b border-red-600' : 'border-b border-black/50' "
                                    class="bg-transparent border rounded-lg p-2 !h-[36px] border-black w-full" type="text"
                                    placeholder=" patient_address" formControlName="patient_address" />
                                <span
                                    *ngIf="signUpForm.get('patient_address')?.invalid && signUpForm.get('patient_address')?.touched"
                                    class="text-xs text-red-600 pl-4">Patient address is required</span>
                            </div>
                        </div>

                        <div class="flex flex-col gap-y-2 w-full">
                            <div>Emergency contact</div>
                            <div class="w-full"><input
                                    [ngClass]="signUpForm.get('emergency_contact')?.invalid && signUpForm.get('emergency_contact')?.touched ? 'border-b border-red-600' : 'border-b border-black/50' "
                                    class="bg-transparent border rounded-lg p-2 !h-[36px] border-black w-full" type="text"
                                    placeholder=" emergency_contact" formControlName="emergency_contact" />
                                <span
                                    *ngIf="signUpForm.get('emergency_contact')?.invalid && signUpForm.get('emergency_contact')?.touched"
                                    class="text-xs text-red-600 pl-4">Emergency contact is required</span>
                            </div>
                        </div>




                    </div>

                    <button class="px-4 py-2 flex flex-row gap-x-4  bg-[#867AAB] w-fit text-white" (click)="signUp()" >
                        <span>Save Changes</span>
                        <span>
                            <svg width="28" height="20" viewBox="0 0 28 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.775391 10H24.4489" stroke="white" stroke-width="3" />
                                <path d="M16.459 1.41833L25.0406 9.99997L16.459 18.5816" stroke="white"
                                    stroke-width="3" />
                            </svg>

                        </span>
                    </button>

                </div>

                <div *ngIf="dataSubmitted" class="flex justify-center items-center w-full h-full">
                    <div class="flex flex-row gap-x-6 p-2 bg-[#95EEC4]/60 items-center">
                        <span><img src="assets/images/info.svg" ></span>
                        <span>Patient profile created </span>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>